#painel-esquerdo{
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    width: 300px;
    height: 140px;
    background-color: #000000;
}

#painel-direito{
    position: absolute;
    margin-left: 350px;
    margin-top: 10px;
    width: 650px;
    height: 140px
}